[submodule "extern/CherryUSB"]
	path = extern/CherryUSB
	url = https://github.com/cherry-embedded/CherryUSB.git
[submodule "extern/FreeRTOS/Kernel"]
	path = extern/FreeRTOS/Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "extern/Unity"]
	path = extern/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
